<template>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Role</th>
                <th scope="col">Active</th>
            </tr>
        </thead>
        <tbody>
            <tr repeat.for="user of users.usersArray">
                <td>${user.firstname}</td>
                <td>${user.lastname}</td>
                <td>${user.role}</td>
                <td>${user.active}</td>
            </tr>
        </tbody>

    </table>
</template>